Filter [Felix35071's Spirit Filter]

Version [3.16e]
LastUpdate [11.27.2021]
PoEVersion [3.16.x]

ForumThread [https://www.pathofexile.com/forum/view-thread/1825559]
SmartBlocks on
SmartColors on

Source [Spirit+] [https://raw.githubusercontent.com/SpacetimeDensityModifier/Spirit_Filter/master/Spirit+.filter]
