Filter [Felix35071's Spirit Filter]

Version [1.4a]
LastUpdate [12.6.2017]
PoEVersion [3.1.x]

ForumThread [https://www.pathofexile.com/forum/view-thread/1825559]
SmartBlocks on
SmartColors on

Source [Spirit] [https://raw.githubusercontent.com/SpacetimeDensityModifier/Spirit_Filter/master/Spirit.filter]
